body,h1,h2,h3,h4,h5 {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
}

.w3-half img {
  margin-bottom: -6px;
  margin-top: 16px;
  opacity: 0.8;
  cursor: pointer;
}

.w3-half img:hover{
  opacity: 1
}

#menu-button, #contact-button, #top-menu {
  background-color: #800000;
  color: #FFFFFF;
}

.border-decor {
  width: 50px;
  border: 5px solid #800000;
}

.subtitles {
  color: #800000;
}

#sidebar {
  background-color: #800000;
  z-index: 3;
  width: 300px;
  font-weight: bold;
  color: #FFFFFF;
}
